---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🖥️About Greg Drake</h1>
			<p>
				"Insert branded bio paragraph here."
			</p>
            <h2> Questions? Get in touch.</h2>
			<p>
				<li>✉️Email: greg@gdrakecybersec.com </p></li>
                <li>👍<a href="https://www.linkedin.com/in/greg-drake-3a6b04143/">LinkedIn</a></li>
                <li>🧑‍💻<a href="https://github.com/Gr3gDrak3?tab=overview&from=2026-05-01&to=2026-05-03">GitHub</a></li>
			</p>
			</p>
		</main>
		<Footer />
	</body>
</html>
