---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🖥️About Greg Drake</h1>
			<p>
				Greg Drake is a candidate for a bachelor of science in Cybersecurity from Texas A&M University San Antonio. He is a driven and curious young professional with a deep interest in all aspects of cybersecurity. A veteran of The United States Navy, Greg studiously works towards his goal of becoming a seaseoned professional within his chosen field.
			</p>
            <p>
                At present Greg works as a Field Services Technician at Texas A&M University San Antonio while he completes his studies. There, he hones his skills with system deployments, operating system imaging, and assistance with technology-based issues across campus. Previously, he worked as a Logistics Support Representative at Boeing. Though his previous employment isn't directly in line with his chose career path, his achievements within them serve to show his willingless to learn, his unwavering sense of duty, and his dedication to the work he does. 
            </p>
			</p>
            <h2> Questions? Get in touch.</h2>
			<p>
				<li>✉️Email: greg@gdrakecybersec.com </p></li>
                <li>👍<a href="https://www.linkedin.com/in/greg-drake-3a6b04143/">LinkedIn</a></li>
                <li>🧑‍💻<a href="https://github.com/Gr3gDrak3?tab=overview&from=2026-05-01&to=2026-05-03">GitHub</a></li>
			</p>
			</p>
		</main>
		<Footer />
	</body>
</html>
